@model IEnumerable<Rengo.Models.Reminder>

<h2>Reminders</h2>
<a href="@Url.Action("Create")" class="btn btn-primary">Create New Reminder</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date-Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reminder in Model)
        {
            <tr>
                <td>@reminder.Title</td>
                <td>@reminder.DateTime</td>
            </tr>
        }
    </tbody>
</table>
